<iframe width='{{ iframe.width }}' height='{{ iframe.height }}' srcdoc='
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <script src="https://www.googletagservices.com/tag/js/gpt.js" type="text/javascript" async="async"></script>
    <script type="text/javascript">
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      googletag.cmd.push(function () {
        var slot = googletag.defineSlot("{{- slot_id -}}", {{ sizes|raw }}, "{{- attributes.id -}}");
        slot.addService(googletag.pubads());
        var targeting = {{ targeting|raw }};
        for (var key in targeting) {
          if (targeting.hasOwnProperty(key)) {
            slot.setTargeting(key, targeting[key]);
          }
        }
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
      });
    </script>
  </head>
  <body>
    <div{{ attributes }}>
      <script type="text/javascript">
        googletag.cmd.push(function () {
          googletag.display("{{- attributes.id -}}");
         });
      </script>
    </div>
  </body>
  </html>
  '>
</iframe>
